@import '../../variables';

.Features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  > label {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    > p {
      text-align: center;
    }
    > input {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      padding: 0.25rem;
      width: 50%;
    }
  }
  > button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 7rem;
    height: 3rem;
    background-color: $green-800;
    border: none;
    border-radius: 0.5rem;
  }
}
